<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card mt-4 text center">
            <div class="card-header">
            <h1>Crear restaurante</h1>
            </div>
            <div class="card-body">
                <form action="/restaurant/actualizar/{{restaurant._id}}?_method=PUT" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre" autofocus value="{{restaurant.name}}">
                        
                    </div>
                    <div class="form-group">
                        <input type="text" name="category" placeholder="categoria" class="form-control" value="{{restaurant.category}}">
                    </div>
                    <div class="form-group">
                        <input type="text" name="direccion" placeholder="direccion" class="form-control" value="{{restaurant.direccion}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" >Signin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>